* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00539cff;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  display: block;
}
.result {
  color: #fff;
}

button {
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
